@import "objective.css";
@import "store.css";
@import "mobile/main.css";
@import "mobile/store.css";
@import "settings.css";

body:before {
	content: desktop;
}

body {
	background-color: #e2dbce;
	text-align: center;
}

body * {
	user-select: none;
	
}

#cat {
	position: relative;
	width: 35vh;
	
	margin: auto;
}

.cat-anim {
   animation: cat-anim 0.1s linear 0s;
}

@keyframes floating-number {
	0% {opacity: 0; transform: translate(0px, 0px); }
	5% {opacity: 1; transform: translate(1px, -1px);}
	100% {opacity: 0; transform: translate(10px, -10px);}
}

@keyframes cat-anim {
   0% {scale: 1;}
   33% {scale: 0.95;}
   67% {scale: 1.05;}
   100% {scale: 1;}
}

#cat-box {
   position: relative;
   display: flex;
   height: 100%;
   justify-content: center;
}

#values {
	display: flex;
	justify-content: center;

	width: 100%;
	height: 0;

	box-sizing: border-box;
}

#version {
	position: absolute;
	bottom: 2vh;
	left: 2vh;

	margin: 0;

	/* color: rgb(189, 189, 189); */
	color: black;
	opacity: 0.3;
}

.spacer {
    height: 100%;
    margin: 0 1.5vh;

    border: 2px solid black;
    border-radius: 10px;

	box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
	body {
		display: flex;
		flex-direction: row;
	
		 width: 100vw;
		 height: 100vh;
	
		 padding: 0px;
		 margin: 0px;
		overflow: hidden;
	
		 font-family: Helvetica;
	}
	
	#pets, #pps {
		display: inline-block;
		position: relative;
		font-size: 3vh;
		text-align: center;
	
		margin: 0 5px;
		height: 0;
	}
	
	#main {
		width: 100%;
		flex-basis: 50%;
		flex-grow: 1;
	}
}