/* @keyframes store-anim {
    from {right: 0; width: 100%;}
    to {right: -50vw; width: 0%;}
} */

@keyframes store-anim {
    from {width: 50%;}
    to {width: 0%;}
}

.open-store {
    animation: store-anim 0.2s ease-out 0s infinite reverse forwards;
}

.close-store {
    animation: store-anim 0.2s ease-out 0s infinite normal forwards;
}

#store {
    position: relative; 
    display: none;

    right: 0;
    top: 0;
    width: 0;
    height: 100vh;
    background-color: lightgray;
    z-index: 1;

    border: 2px solid black;
    box-sizing: border-box;
}

#store-collapse {
    width: 5vh;
    height: 5vh;
    
    border: 2px solid black;
}

#open-store {
    position: absolute;
    width: 3vh;
    height: 60vh;

    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    border: 2px solid black;
    border-right: none;
    border-radius: 12px 0 0 12px;
    background-color: lightgray;
    opacity: 0.2;
    transition: opacity 0.2s;

    display: none;
}

#open-store:hover {
    opacity: 1;
}

#store li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 60%;
    height: 8vh;
    border: 2px solid black;
    border-radius: 18px;
}

#store ul {
    list-style: none;
}

#store li h2, #store li h3 {
    padding: 0;
    margin: 0 5px;
}

#store li * {
    pointer-events: none;
}