@media only screen and (max-width: 767px) {
    #upgrade-tabs {
        margin: 2% 5%;
    }

    .upgrade-container {
        margin-top: 0;
        list-style: none;
        padding: 0;
    }
    
    @keyframes store-anim {
        from {height: 50%;}
        to {height: 0%;}
    }

    .open-store {
        animation: store-anim 0.2s ease-out 0s infinite reverse forwards;
    }
    
    .close-store {
        animation: store-anim 0.2s ease-out 0s infinite normal forwards;
    }

    #store {
        position: relative; 
        display: none;
        flex-direction: column;
    
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 0;
        background-color: lightgray;
        z-index: 1;
    
        border: none;
        border-top: 2px solid black;
        box-sizing: border-box;
    }

    #store-container {
        width: 100%;
        height: 50vh;

        display: flex;
        flex-direction: column;
    }

    #tabs {
        display: flex;
        flex-direction: row;

        height: 8vh;
        width: 100%;
        
        border-right: 2px solid black;
    }

    #tabs > * {
        height: 100%;
        width: 20%;
        border: 2px solid black;
        border-left: none;
        border-top: none;

        padding: 0px;
    }

    #tabs > *:last-of-type {
        border-right: none;
    }

    #tabs img {
        height: 90%;
    }

    #store-collapse {
        /* width: 100%;
        height: 8vh; */
        
        border-bottom: 2px solid black;
    }
    
    #open-store {
        position: absolute;
        width: 60%;
        height: 3vh;
    
        right: 0;
        left: 0;
        bottom: 0;
        top: auto;
        margin: auto;
    
        border: 2px solid black;
        border-bottom: none;
        border-radius: 12px 12px 0 0;
        background-color: lightgray;
        opacity: 0.2;
        transition: opacity 0.2s;
    
        display: block;
    }

    #open-store:hover {
        opacity: 1;
    }
    
    #store li {#upgrade-tabs {
        display: flex;
        justify-content: center;
        align-items: center;
    
        height: 8vh;
        margin: 2% 5%;
    
        box-sizing: border-box;
    }
        /* grid-template-columns: 3fr 2fr; */

        margin: 2% auto;
    
        width: 90%;
        height: 8vh;
        border: 2px solid black;
        border-radius: 18px;
    }
    
    #store li h2, #store li h3 {
        padding: 0;
        margin: 0 5px;
    }
    
    #store li * {
        pointer-events: none;
        user-select:none;
    }

    #tabs > * {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
