.tab-switcher {
    /* Layout */
    display: grid;
    grid-template-columns: 20% auto;
    height: 100%;

    /* Style */
}

.tab-list {
    /* Layout */
    display: flex;
    flex-direction: column;
    height: 100%;

    /* Style */
    border-right: 2px solid black;
}