.tab-switcher {
    /* Layout */
    display: grid;
    grid-template-columns: 20% auto;
    height: 100%;

    /* Style */
}

.tab-list {
    /* Layout */
    display: flex;
    flex-direction: column;
    height: 100%;

    /* Style */
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.tab-list button {
    /* Layout */
    box-sizing: border-box;

    /* Style */
    border: 0; /* Override other styling */
    border-bottom: 2px solid black;
    border-radius: 0;
}

.tab-list button:hover {
    border-bottom: 2px solid black;
    background: lightgray;
}