.menu-bar {
    /* Layout */
    height: 100%;
    width: 0%;
    /* Styles */
    opacity: 0;

    transition: width 0.2s ease-out, opacity 0.2s ease-out;

    z-index: 1;
}

.tab-content {
    width: 100%;
    background-color: white;
}

/*@keyframes store-anim {
    from {width: 100%;}
    to {width: 0%;}
}

.open-store {
    animation: store-anim 0.2s ease-out 0s 1 reverse forwards;
}

.close-store {
    animation: store-anim 0.2s ease-out 0s 1 normal forwards;
}*/

.open-store {
    width: 100%;
    opacity: 1;
}
